body {
    background-color: #57A773;
  }
  

  footer {
    background-color: #252222;
    padding: 30px;
    font-size: 18px;
  }
  
  .footContainer {
    max-width: 800px;
    margin: 0 auto;
  }
 
