.container {
  margin: 2rem auto;
  max-width: 800px;
}

.special-row {
  margin-top: 1rem;
  padding: 1rem;
  background-color: #f1f1f1;
}

.sponsor-header {
  display: flex;
  align-items: center;
  justify-content: center;
}

.sponsor-header img {
  max-width: 100%;
  height: auto;
}

.sponsor-nassa {
  display: flex;
  border: 20px solid rgb(17, 160, 179); 
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;
  text-align: center;
}

.row-header {
  margin-bottom: 1rem;
}

.title {
  border: 2px solid #1c2b2d;
  padding: 10px;
  background-color: #009719; /* Set background color to light green */
  color: #1c2b2d; /* Set text color to dark green */
  font-size: 28px;
  text-align: center;
}


.sponsor-image {
  border: 10px solid black; 
  padding: 0rem;
  width: auto;
  height: auto;
  object-fit: cover;
  }

.row-desc {
  font-size: 1.2rem;
  line-height: 1.5;
}

.row-img {
  margin-top: 2rem;
  display: flex;
  justify-content: center;
}

.row-img img {
  max-width: 100%;
  height: auto;
}

.about-desc {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.about-desc h2 {
  margin-bottom: 1rem;
}

.about-desc p {
  font-size: 1.2rem;
  line-height: 1.5;
}


.submission-container {
  margin-top: 2rem;
  border: 2px solid rgb(90, 111, 226);
  padding: 10px;
  border-radius: 5px;
  background-color: #79cad4;
  display: inline-block;
}

.submission-container h3 {
  border: 1px solid black;
  padding: 10px;
  display: inline-block;
  background-color: rgb(153, 255, 127);
}

.submission-container form {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
}

.submission-container label {
  margin-top: 0.5rem;
}

.submission-container input[type="text"],
.submission-container input[type="email"],
.submission-container textarea {
  padding: 5px;
  margin-bottom: 1rem;
  border-radius: 5px;
  border: none;
}

.submission-container input[type="submit"] {
  background-color: rgb(90, 158, 185);
  color: white;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.submission-container input[type="submit"]:hover {
  background-color: rgb(52, 101, 117);
}

footer {
  background-color: #252222;
  padding: 30px;
  font-size: 18px;
}

.footContainer {
  max-width: 800px;
  margin: 0 auto;
}

